<%- include('../partials/header.ejs')%>
    <h1>
        <%= user.name%>'s workouts!
    </h1>
    <%if(exercises.length >0 ){%>
    <% exercises.forEach(exercise=>{%>
        <div class="content">
            <h2>
                 <%= exercise.name%>
            </h2>
            <p>
                Exercise Body Part:<%= exercise.bodyPart%>
            </p>
            <p>
                Exercise Equipment:<%= exercise.equipment%>
            </p>
            <img src="<%= exercise.gifUrl%>">
            <form>
                <button class="removeExerciseButton" type="submit" formmethod="POST" name="exerciseData"
                    value="<%=exercise._id%>" formaction="/removeExercise">Remove workout</button>
            </form>
  
        </div>
        <%})%>
    <%}else{%>
        <h2> You have not added any workouts yet</h2>
    <%}%>
            <h1>
                <%= user.name%>'s recipes!
            </h1>
            <%if(recipes.length >0 ){%>
            <% recipes.forEach(recipe=>{%>
                <% let num=0%>
                    <div class="content">
                        <h2>
                            <%= recipe.label%>
                        </h2>
                        <p>
                            Calories: <%= recipe.calories%>
                        </p>
                        <p>Ingredients for <%= recipe.label%>
                        </p>
                        <% recipe.ingredientsArray.forEach(ingredient=>{%>
                            <p>
                                <%= ++num%>. <%=ingredient%>
                            </p>
                            <%})%>
                                <img src="<%= recipe.image%>" width = "200" height= "200">
                                <form>
                                    <button class="removeExerciseButton" type="submit" formmethod="POST"
                                        name="recipeData" value="<%=recipe._id%>" formaction="/removeRecipe">Remove
                                        recipe</button>
                                </form>
                    </div>
                    <%})%>
                    <%}else{%>
                        <h2> You have not added any recipes yet</h2>
                    <%}%>
                            
                            <footer class = "footer1">
    
                                <p>Page built by: The Obeast Team</p>
                            </footer>
                                    <style>
                                        .hiddenButton {
                                                display: none;
                                            }

                                        .brokenImage {
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                            margin-top: 15px;
                                        }

                                        .removeExerciseButton {

                                            background-color: #4CAF50;
                                            border: none;
                                            color: white;
                                            padding: 15px 32px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 16px;
                                            margin: 4px 2px;
                                            cursor: pointer;
                                        }

                                        .removeExerciseButton1 {
                                            position: relative;
                                            top: 40px;
                                            background-color: #4CAF50;
                                            border: none;
                                            color: white;
                                            padding: 15px 32px;
                                            text-align: center;
                                            text-decoration: none;
                                            display: inline-block;
                                            font-size: 16px;
                                            margin: 4px 2px;
                                            cursor: pointer;
                                        }

                                        .content {
                                            text-align: center;
                                            padding: 20px;
                                            border: 1px solid black;
                                            padding-bottom: 50px;
                                        }

                                        header {
                                            font-family: sans-serif;
                                            text-align: center;
                                            color: #424240;
                                            font-weight: bold;
                                            border: 10px solid #4CAF50;
                                            background-color: #BAD2EC;



                                        }

                                        footer {
                                            color: #424240;
                                            font-family: sans-serif;
                                            position: absolute;
                                            width: 100%;
                                            height: 70px;
                                            /* Height of the footer */
                                            background: #BAD2EC;
                                            text-align: center;
                                            border: 10px solid #4CAF50;

                                        }

                                        h1,
                                        h2,
                                        h3 {
                                            text-align: center;
                                        }

                                        nav {
                                            font-family: sans-serif;
                                            text-align: center;
                                            font-weight: bold;
                                            font-size: 110%
                                        }

                                        a {
                                            text-decoration: none;
                                            color: #030c02;
                                        }

                                        a:hover {
                                            text-decoration: overline underline;
                                        }
                                        p{
                                            font-size: large;
                                        }
                                    </style>